body
{
    margin: 0;
    padding: 0;
    background: #608BC1;
}
.team{
    padding: 50px 0;
    height: 100vh;
    box-sizing: border-box;
}
.container{
    width: 80%;
    margin: 50px auto;
}
.row{
    position: relative;
    width:100%;
    box-sizing: border-box;
}
.row h1{
    color: #fff;
    text-align: center;
    margin: 0;
    padding: 0;
    font-weight: 700;
    font-size: 48px;
    text-transform: uppercase;
}
.row p{
    margin: 20px 0 0;
    color: #ffffff;
    padding-left: 20px;
    border-left: 5px solid #133E87;
}
.mgt50px{
    margin-top: 50px;
}
.row .column{
    margin: 0 10px;
    position: relative;
    width: calc(25% - 20px);
    min-height: 250px;
    background: #ffffff;
    float: left;
    box-sizing: border-box;
    overflow: hidden;
}
.row .column::before{
    content: '';
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000;
    z-index: 1;
    transition: 5s;
    mix-blend-mode: soft-light;
}
.row .column:hover:before{
    bottom: 0;
}
.row .column .imgBox img{
     width: 100%;
     transition: 5s;
}
.row .column:hover .imgBox img {
    transform: scale(1.5);
}
.row .column .details{
    position: absolute;
    bottom: -85px;
    left: 0;
    padding: 10px;
    box-sizing: border-box;
    background: rgba(0,0, 0, 9);
    width: 100%;
    transition: 5s;
    z-index: 2;
}
.row .column:hover .details{
    bottom: 0;
}
.row .column .details h3{
    margin: 0;
    padding: 0;
    color: #ffffff;
    font-weight: 500;
    text-align: right;
    text-transform: uppercase;
}
.row .column .details h3 span{
    margin: 0;
    padding: 0;
    font-size: 14px ;
    color: #133E87;
    font-weight: 900;
    text-transform: uppercase;
    position: relative;
    top: -6px;
}
.row .column .details h3 span a{
    color: #ffffff;
    font-family:monospace;
}
.row .column .details ul{
    margin: 0;
    padding: 0;
    display: flex;
    float: right;
}
.row .column .details ul li{
    list-style: none;
}
.row .column .details ul li a{
    padding: 0 10px;
    color: #fff;
}
.row .column .details ul li a .fa-square-facebook {
    transition: 5s;
}
.row .column .details ul li a:hover .fa-square-facebook {
    transform: rotateY(360deg);
    color: #133E87;
}
.row .column .details ul li a .fa-instagram {
    transition: 5s;
}
.row .column .details ul li a:hover .fa-instagram {
    transform: rotateY(360deg);
    color: #133E87;
}
.row .column .details ul li a .fa-envelope {
    transition: 5s;
}
.row .column .details ul li a:hover .fa-envelope {
    transform: rotateY(360deg);
    color: #133E87;
}

